{% extends "base.html"%}

{% load static %}

{% block title %}Secret sharing 秘密重建{% endblock %}

{% block main %}

    <h2>秘密重建</h2>

    {% if secret %}
        <script>
            alert("還原結果：{{ secret }}");
        </script>
    {% endif %}

    <form onsubmit="return getSelectedClientsText();" action="/recover_secret/" method="post">

        {% csrf_token %}

        <div>
            <p>公用共享 (public shares)：</p>
            <textarea id="pub_shares" name="pub_shares" class="new_textarea" rows="5" cols="80">{{Pub}}</textarea>
        </div>
        
        <br><hr><br>
    
        <div>
            <p>選擇合作的參與者 (participant shares)：</p>

            {% if clients %}
            <div>
                {% for i in clients %}
                <div class="container_client_list">
                    <input type="checkbox">
                    <div class="client_icon_list">
                        <img src="{% static 'images/cell-phone.png' %}" alt="cell-phone" width="150">
                        <div name="client_text" class="client_text">{{i.share}}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p>clients 沒有資料</p>
            {% endif %}

            <input type="hidden" id="selected_clients_text" name="selected_clients_text">

            <input type="submit" style="margin-top: 20px;" value="Recover">
        </div>

    </form>

{% endblock %}
